<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <center>
        <br><br><br>
        <h1>W3Schools Notes</h1><br><br>
    </center>
    <center>
        <ul style="list-style-type:none;">
            <li><a href="{{ url_for('html') }}">HTML</a></li><br>
            <li><a href="{{ url_for('css') }}">CSS</a></li><br>
            <li><a href="{{ url_for('js') }}">Javascript</a></li><br>
            <li><a href="{{ url_for('python') }}">Python</a></li><br>
            <li><a href="{{ url_for('sql') }}">SQL</a></li><br>
            <li><a href="{{ url_for('react') }}">ReactJs (downloads on local storage)</a></li><br>
	    <li><a href="{{ url_for('django') }}">Django (downloads on local storage)</a></li><br>
            <li><a href="{{ url_for('mongodb') }}">Mongodb</a></li><br>
            
	    <li><a href="{{ url_for('bootstrap') }}">bootstrap</a></li><br>
        </ul>
    </center>
</body>

</html>
